In [ ]:
import pandas as pd
import ast
import joblib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
import os

In [ ]:
df = pd.read_csv("../Datasets/DatasetTouris.csv",index_col=None)
df.head()

,User_Id,Place_Id,Place_Ratings,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12,Location,Age
0,1,179,3,Candi Ratu Boko,Situs Ratu Baka atau Candi Boko (Hanacaraka:ê¦•ê¦¤...,Budaya,Yogyakarta,75000,4.6,90.0,"{'lat': -7.7705416, 'lng': 110.4894158}",-7.770542,110.489416,NaN,179,"Semarang, Jawa Tengah",20
1,1,344,2,Pantai Marina,"Pantai Marina (bahasa Jawa: ê¦¥ê¦±ê¦¶ê¦±ê¦¶ê¦‚â€‹ê¦©ê¦«ê¦¶ê¦¤, trans...",Bahari,Semarang,3000,4.1,NaN,"{'lat': -6.948877, 'lng': 110.3893285}",-6.948877,110.389329,NaN,344,"Semarang, Jawa Tengah",20
2,1,5,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,NaN,5,"Semarang, Jawa Tengah",20
3,1,373,3,Museum Kereta Ambarawa,Museum Kereta Api Ambarawa (bahasa Inggris: In...,Budaya,Semarang,10000,4.5,60.0,"{'lat': -7.264598899999997, 'lng': 110.4046017}",-7.264599,110.404602,NaN,373,"Semarang, Jawa Tengah",20
4,1,101,4,Kampung Wisata Sosro Menduran,Kampung wisata Sosromenduran merupakan kampung...,Budaya,Yogyakarta,0,4.0,NaN,"{'lat': -7.792189999999999, 'lng': 110.362151}",-7.792190,110.362151,NaN,101,"Semarang, Jawa Tengah",20

ðŸ”¹ 1. Data Understanding

Tujuan: Memahami struktur, isi, dan kualitas dataset.

Langkah-langkah:

- Cek jumlah data dan fitur (df.shape).

- Lihat contoh data (df.head()).

- Identifikasi jenis fitur (numerik, kategorikal, teks).

- Cek nilai kosong atau duplikat (df.isnull().sum()).

- Visualisasi distribusi data jika perlu (jumlah wisata per kategori, kota, dll).

In [ ]:
df.isnull().sum()

User_Id              0
Place_Id             0
Place_Ratings        0
Place_Name           0
Description          0
Category             0
City                 0
Price                0
Rating               0
Time_Minutes      5372
Coordinate           0
Lat                  0
Long                 0
Unnamed: 11      10000
Unnamed: 12          0
Location             0
Age                  0
dtype: int64

In [ ]:
df_Isnull.shape

(10000, 14)

 2. Univariate Exploratory Data Analysis (EDA)
Tujuan: Memahami persebaran nilai dari tiap fitur secara individu.

Langkah-langkah:

- Cek jumlah tempat wisata berdasarkan:

- Kategori (Alam, Edukasi, Kuliner, Religi, dll).

- Lokasi (kota/kabupaten).

Visualisasikan:

- Bar chart jumlah tempat wisata per kategori.

- Word cloud untuk deskripsi/fitur teks.

ðŸ”¹ 3. Data Preprocessing
Tujuan: Membersihkan dan menyatukan data menjadi bentuk yang siap diproses.

Langkah-langkah:

- Gabungkan berbagai sumber data jika terdiri dari beberapa file.

Atasi:

    - Missing values (drop/fill).

    - Duplikasi.

    - Format data (ubah string menjadi list, dll).

    - Normalisasi teks (deskripsi, kategori, dll).

4. Data Preparation
Tujuan: Menyiapkan fitur yang akan digunakan untuk rekomendasi.

Langkah-langkah:

- Pilih kolom penting (misalnya: place_name, category, description, location, dll).

- Gabungkan fitur teks yang relevan â†’ kolom combined_features.

 6. Model Development - Collaborative Filtering
Tujuan: Rekomendasi berdasarkan perilaku pengguna (misalnya, rating wisata).

Syarat: Dataset harus memiliki userID, placeID, rating.

Langkah-langkah:

- Buat matrix user-wisata (pivot_table).

- Gunakan algoritma KNN / matrix factorization / SVD dari surprise atau scikit-learn.